/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
/* 
@font-face{
	font-family:OleoScriptSwashCaps-Regular;
	src:url(../webfonts/BebasNeue-Regular.ttf);
	weight: 4px;
      } */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:wght@100;200;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:wght@100;200;400;500;600;700;800;900&display=swap');

* {
    outline: none !important;
}



body {
    font-family: 'BebasNeue' !important;
    font-size: 18px !important;
    line-height: 30px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', cursive;

}

a,
p,
input,
button {
    font-family: 'Jost', sans-serif !important;
    color: var(--dark) !important;
}

ul,
ol,
li {
    padding: 0 !important;
    margin: 0 !important;
}


:root {
    --white: #Fff;
    --primary: #c7A17A;
    --secondary: #c7A17A;
    --dark: #677291;
    --pad100: 100px;
    --padt: 100px;
    --padb: 100px;
}

.space100 {
    padding: 100px 0;
}



.fs-18 {
    font-size: 18px !important;
}

.fs-16 {
    font-size: 16px;
    line-height: 29px;
}

.owl-theme .owl-dots .owl-dot {
    color: #000;
}

.navbar-toggler {
    background-color: var(--primary) !important;
}


header {
    background-color: rgba(238, 244, 245, 0.9);
    width: 100%;
    
}

header .navbar-nav .nav-link {
    color: #050404 !important;
}

header .navbar-nav .nav-link:hover {
    color: var(--secondary) !important;
}


header ul li a:after {
    width: 10px;
    height: 10px !important; 
    content: "";
    position: absolute;
    transition: all 0.5s;
    top:35%;
    background: transparent;
    left: 5px;
}



header ul li a:hover::after {
    top: 35%;
    left:-10px;
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
    background-color: var(--secondary);
}






.social-links a {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    font-size: 13px;
    border: 1px solid #808080;
    line-height: 35px;
    color: #808080;
    text-decoration: none;
    margin-right: 10px !important;
}


.site-btn {
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2px;
    background: #C7A17A;
    padding: 9.5px 34px;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    display: inline-block;
    border: 1px solid #C7A17A;
    font-weight: 500;
}
.home {
    padding-top: var(--padt);
    padding-bottom: 50px;
}

.home h2 {
    line-height: 110px;
    font-size: 120px;
    font-weight: 400;
    margin-bottom: 30px;
}

.home p {
    margin-bottom: 50px;
    color: var(--dark);
}

.home a {
    padding: 15px 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background: transparent;
    border: 1px solid var(--dark);
}

.home a:hover {
    background-color: var(--primary);
    color: #fff !important;
    transition: all 0.5s;
}

.home a:last-child {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color:#fff !important;
}


.home a:last-child:hover {
    background-color: #000;
}















/* section-title */
.section-title span {
    color: white !important;
    background-color: #C7A17A;
    border-radius: 3px;
    font-size: 12px;
    padding: 1.5px 13px;
    margin-bottom: 23px !important;
}

.section-title h2 {
    margin: 0 0 25px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 55px;
    line-height: 50px;
}







/* CAFENA POPULAR MENU  */

.menu {
    position: relative;
    margin-top: 100px !important;
}



.menu .radius {
    border-radius: 15px;
    height: 250px;
    width: 100%;
    object-fit: cover !important;
}

.content {
    left: 0;
    right: 0;
    margin: auto;
    padding: 30px 0px;
    top: 70%;
    width: 70% !important;
    background-color: #ffff !important;
    position: absolute;
    border-radius: 10px;
}

.menu-icon {
    border: 1px solid #000;
    padding: 3px 0px !important;
    margin: 5px;
}









.color {
    color: var(--primary) !important;
}



.video-bg h2,
.bg-parallax h2 {
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 30px;
}

.video-bg p,
.bg-parallax p {
    padding-bottom: 50px;
}



hr {
    margin: 10px 0 !important;
}


.single-page-pakage h3 span {
    font-size: 24px;
}

.single-page-pakage h2 {
    font-size: 24px;
    font-weight: 600;
    color: var(--white);

}

.single-page-pakage h3 {
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--white);

}



.how-works-item {
    position: relative;
    padding-left: 70px !important;
}

.how-works-item .icon-outer {
    display: inline-table;
    border-radius: 5px;
    background-color: var(--white);
    color: var(--dark);
    font-size: 14px;

    padding: 0 25px;
    margin-bottom: 25px;
    border: 1px solid var(--dark);
    z-index: 99;
}

.how-works-item .icon-outer:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--dark) !important;
    position: absolute;
    z-index: -1;
    top: 10%;
}


.how-works-item .icon-outer:affter {
    right: 100%;
}


.how-works-item h2 {
    font-size: 22px !important;
    font-weight: 400;
    margin-bottom: 15px;
}






.bg-images3 {
    background-image: url(../images/testimonial-bg-2.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.img-fluid{
    transition: all 0.5s;
}


.card .img-fluid{
    height: 260px;
    width: 100%;
    object-fit: cover !important;
}
    

.card-img img:hover{
    transform: scale(1.1);
}









.apps-btn {
    margin-left: 0 10px;
    border-radius: 3px;
}


.apps-btn i span:last-child {
    font-weight: 400;
    padding: 0px !important;
}




.primary-btn {
    margin: 10px;
    padding: 15px 30px;
    padding-bottom: 30px;
    background: var(--secondary);
    color: var(--white);
    border: none;
    text-transform: capitalize;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
}




.video-bg {
    background-image: url(../images/video-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.video-popup {
    border: 1px dashed var(--white);
    display: inline-block;
    width: 90px;
    height: 90px;
    color: var(--white);
    line-height: 90px;
    font-size: 35px;
    border-radius: 100%;
    background: transparent;
    transition: all 0.3s ease-in-out;
}


.video-popup:focus {
    border: 2px solid var(--white);
    ;
}

/* footer */

footer .social-icons {
    margin-bottom: 30px;
}



.social-icons ul li a {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    line-height: 40px;
    color: #ccc;
    width: 40px;
    height: 40px;
}

.social-icons a:hover {
    transition: all 0.5s;
    color: var(--white);
}

.social-icons a:hover {
    border: 1px solid #fff;
}

.footer-header .nav-link:hover {
    color: var(--primary) !important;
}

.footer-menu .collapse{
    display: block !important;
}


.footer__menu-area {
    padding-top: 30px;
    border-top: 1px solid #32323D;
}

.footer__menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px;
    margin: 10px;
}

.footer__menu ul li {
    padding:0 10px  !important;
}

.pb-90 {
    padding-bottom: 90px;
}
.mt-30 {
    margin-top: 30px;
}




/* WORLD TOP GRADE */

.world {
    width: 50px;
    height: 50px;
    left: 10%;
    background-color: #fff;
    z-index: 2;
    top: 0;
    position: absolute;
    line-height: 50px;
}

.WORLD-TOP-GRADE {
    max-width: 100% !important;
    max-height: 160px !important;
    border-radius: 100% !important;
}

.grey-bg {
    background: #F4F1EE;
}












